[submodule "External/vkl"]
	path = External/vkl
	url = https://github.com/mediaz/vkl.git
[submodule "External/vma"]
	path = External/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/SPIRV-Cross"]
	path = External/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "External/Tools"]
	path = Tools
	url = https://github.com/mediaz/Tools.git
